In [5]:
import pandas as pd
import os
import pickle

In [28]:
## options
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [32]:
### Brilliant Earth
if os.path.exists(os.path.abspath('./brilliant-earth.pickle')):
    with open('brilliant-earth.pickle', 'rb') as handle:
        be_diamond_data = pickle.load(handle)
        
be_df=pd.DataFrame(data=be_diamond_data)[['shape', 'price', 'carat','cut','color', 'clarity','title']]
be_df['vendor'] = 'Brilliant Earth'
be_df['is_lab'] = False


if os.path.exists(os.path.abspath('./brilliant-earth-lab.pickle')):
    with open('brilliant-earth-lab.pickle', 'rb') as handle:
        be_lab_diamond_data = pickle.load(handle)
        
bel_df = pd.DataFrame(data=be_lab_diamond_data)[['shape', 'price', 'carat','cut','color', 'clarity','title']]
bel_df['vendor'] = 'Brilliant Earth'
bel_df['is_lab'] = True

In [33]:
be_df.sample(1)

,shape,price,carat,cut,color,clarity,title,vendor,is_lab
74746,Round,3330,0.71,Super Ideal,H,VS1,0.71 Carat Round Diamond,Brilliant Earth,False

In [37]:
be_df.cut.unique()

array(['Super Ideal', 'Ideal', 'Good', 'Very Good', 'Fair'], dtype=object)

In [38]:
### Blue Nile
if os.path.exists(os.path.abspath('./blue-nile.pickle')):
    with open('blue-nile.pickle', 'rb') as handle:
        bn_diamond_data = pickle.load(handle)

bn_df_raw = pd.DataFrame(data = bn_diamond_data)

bn_df = pd.DataFrame()
bn_df['shape'] = bn_df_raw.shapeName.apply(lambda x: x[0])
bn_df['price'] = bn_df_raw.price.apply(lambda x: x[0])
bn_df['carat'] = bn_df_raw.carat.apply(lambda x: x[0])
bn_df['cut'] = bn_df_raw.cut.apply(lambda x: x[0]['label']).map({
    'Good': 'Good', 
    'Very Good': 'Very Good',
    'Ideal': 'Ideal',
    'Astor Ideal': 'Super Ideal',
})
bn_df['color'] = bn_df_raw.color.apply(lambda x: x[0])
bn_df['clarity'] = bn_df_raw.clarity.apply(lambda x: x[0])
bn_df['vendor'] = 'Blue Nile'
bn_df['is_lab'] = False

In [39]:
bn_df.head()

   shape price carat        cut color clarity     vendor  is_lab
0  Round  $250  0.23  Very Good     E     SI1  Blue Nile   False
1  Round  $277  0.23  Very Good     F     SI1  Blue Nile   False
2  Round  $277  0.23  Very Good     F     SI1  Blue Nile   False
3  Round  $280  0.23  Very Good     D     SI1  Blue Nile   False
4  Round  $286  0.23       Good     D     SI2  Blue Nile   False